
body{


    margin : 0;
    overflow: hidden;
    font-size: 14px;


}

*{
    box-sizing : border-box;
}



.container{

    height : 100vh;
    


}



.title-bar{

    height : 5vh;
    background-color: #0d7d41;
    display : flex;
    justify-content: center;
    align-items: center;
    color : white;

}



.menu-bar{

    height : 5vh;
    background-color: #0d7d41;
    display : flex;
    
    

}

.menu-item{

    padding-left: 10px;
    padding-right: 10px;
    color : white;
    font-size : 18;
    display : flex;
    align-items: center;

}

.menu-item.selected {
    background-color: #fff;
    color: #107c41;
}

.menu-item:hover {
    background-color: #0c5e31;
    cursor: pointer;
}

.menu-item.selected:hover {
    background-color: #fff;
    cursor: default;
} 



.menu-icon-bar{

    height : 6vh;
  


}




.formula-bar{

    height : 5vh;
    

}




.data-container{

    height : 75vh;
    

}

.sheet-bar{

    height : 4vh;
   


}